body {
    width: 800px;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 11px;
}
.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis--x line{
    display: none;
}
.axis--x path {
    display: none;
}
.axis--y path {
    display: none;
}
h1, h3 {
    text-align: center;
}
div.tooltip {   
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 
    padding: 8px;             
    font: 12px sans-serif;        
    background: black;   
    border-radius: 0px;           
    pointer-events: none;  
    color: white;       
}
.mean {
    stroke-width: 1px;
    stroke: blue
}