/* Overall formatting */
body {
    width: 960px;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}


/* Horizontal Navigation Bar */
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

dt {
  float: left;
}

dt a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
dt a:hover {
  background-color: #111;
}

/* GINI Coefficient D3 visualization */
#GINI .axis line,
#GINI .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
#GINI .axis--x line{
    display: none;
}
#GINI .axis--x path {
    display: none;
}
#GINI .axis--y path {
    display: none;
}

h1, h3 {
    text-align: center;
}

#GINI div.tooltip {   
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 
    padding: 8px;             
    font: 12px sans-serif;        
    background: black;   
    border-radius: 0px;           
    pointer-events: none;  
    color: white;       
}

#GINI .mean {
    stroke-width: 1.5px;
    stroke: blue;
}

/*Rent D3 visualization*/
#rent .axis line,
#rent .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
} 

#rent .axis--x line{
    display: none;
}
#rent .axis--x path {
    display: none;
}
#rent .axis--y path {
    display: none;
}

#rent div.tooltip {   
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 
    padding: 8px;             
    font: 12px sans-serif;        
    background: black;   
    border-radius: 0px;           
    pointer-events: none;  
    color: white;       
} 

#rent .mean {
    stroke-width: 1.5px;
    stroke: blue
}

/* Medincome D3 visualization */
#medincome .axis line,
#medincome .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
#medincome .axis--x line{
    display: none;
}
#medincome .axis--x path {
    display: none;
}
#medincome .axis--y path {
    display: none;
}

#medincome div.tooltip {   
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 
    padding: 8px;             
    font: 12px sans-serif;        
    background: black;   
    border-radius: 0px;           
    pointer-events: none;  
    color: white;       
} 

#medincome .mean {
    stroke-width: 1.5px;
    stroke: blue;
}

/* Unemployment D3 visualization */
#unemployment .axis line,
#unemployment .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
#unemployment .axis--x line{
    display: none;
}
#unemployment .axis--x path {
    display: none;
}
#unemployment .axis--y path {
    display: none;
}

#unemployment div.tooltip {   
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 
    padding: 8px;             
    font: 12px sans-serif;        
    background: black;   
    border-radius: 0px;           
    pointer-events: none;  
    color: white;       
} 

#unemployment .mean {
    stroke-width: 1.5px;
    stroke: blue;
}

/* Formatting for the case side by side comparison */
#caseheader {
    width: 100%;
    background-color: white ;
    height: 230px;
}

#casecontainer {
    width: 960px;
    background-color: white ;
    margin: auto;
}
#casefirst {
    width: 440px;
    margin: 20px;
    float: left;
    height: 190px;
        background-color: #eaeded ;
}
#casesecond {
    width: 440px;
    margin: 20px;
    float: right;
    height: 190px;
    background-color: #eaeded ;
}
#caseclear {
    clear: both;
}

/* Format for the housing and indicators side by side */
#optionheader {
    width: 100%;
    background-color:  #333  ;
    height: 20px;
}

#optioncontainer {
    width: 960px;
    background-color: #333  ;
    margin: auto;
}
#optionfirst {
    width: 440px;
    margin: 20px;
    float: left;
    height: 210px;
        background-color: white ;
}
#optionsecond {
    width: 440px;
    margin: 20px;
    float: right;
    height: 210px;
    background-color: white ;
}
#optionclear {
    clear: both;
}

/*Change button color when hovering*/
#optioncontainer a:link, #optioncontainer a:visited {
    background-color: white;
    color: black;
    border: 2px solid #333;
    padding: 10px 10px;
    text-decoration: none;
/*    display: inline;*/
}

#optioncontainer a:hover, #optioncontainer a:active {
    background-color: grey;
    color: white;
}

/* Housing Prod Scatter D3 visualization */
#housingprod .axis path,
#housingprod .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#housingprod .dot {
  stroke: #000;
}

#housingprod .tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}

