/* Overall formatting */
body {
    width: 960px;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 11px;
}


/* Horizontal Navigation Bar */
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

dt {
  float: left;
}

dt a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
dt a:hover {
  background-color: #111;
}

/* GINI Coefficient D3 visualization */
#GINI .axis line,
#GINI .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
#GINI .axis--x line{
    display: none;
}
#GINI .axis--x path {
    display: none;
}
#GINI .axis--y path {
    display: none;
}

h1, h2, h3 {
    text-align: center;
}

#GINI div.tooltip {   
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 
    padding: 8px;             
    font: 12px sans-serif;        
    background: black;   
    border-radius: 0px;           
    pointer-events: none;  
    color: white;       
}

#GINI .mean {
    stroke-width: 1px;
    stroke: red;
}

/*Rent D3 visualization*/
#rent .axis line,
#rent .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
} 

#rent .axis--x line{
    display: none;
}
#rent .axis--x path {
    display: none;
}
#rent .axis--y path {
    display: none;
}

h1, h3 {
    text-align: center;
}

#rent div.tooltip {   
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 
    padding: 8px;             
    font: 12px sans-serif;        
    background: black;   
    border-radius: 0px;           
    pointer-events: none;  
    color: white;       
} 

#rent .mean {
    stroke-width: 1px;
    stroke: blue
}

/* Unemployment D3 visualization */
#unemployment .axis line,
#unemployment .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
#unemployment .axis--x line{
    display: none;
}
#unemployment .axis--x path {
    display: none;
}
#unemployment .axis--y path {
    display: none;
}
h1, h3 {
    text-align: center;
}
#unemployment div.tooltip {   
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 
    padding: 8px;             
    font: 12px sans-serif;        
    background: black;   
    border-radius: 0px;           
    pointer-events: none;  
    color: white;       
} 

#unemployment .mean {
    stroke-width: 1px;
    stroke: blue;
}

#caseheader {
    width: 100%;
    background-color: white ;
    height: 150px;
}

#casecontainer {
    width: 960px;
    background-color: white ;
    margin: auto;
}
#casefirst {
    width: 440px;
    margin: 20px;
    float: left;
    height: 150px;
        background-color: #eaeded ;
}
#casesecond {
    width: 440px;
    margin: 20px;
    float: right;
    height: 150px;
    background-color: #eaeded ;
}
#caseclear {
    clear: both;
}

#optionheader {
    width: 100%;
    background-color:  #ebf5fb  ;
    height: 10px;
}

#optioncontainer {
    width: 960px;
    background-color: #ebf5fb  ;
    margin: auto;
}
#optionfirst {
    width: 440px;
    margin: 20px;
    float: left;
    height: 150px;
        background-color: white ;
}
#optionsecond {
    width: 440px;
    margin: 20px;
    float: right;
    height: 150px;
    background-color: white ;
}
#optionclear {
    clear: both;
}