
/* Horizontal Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* D3 visualization test for GINI index */
body {
    width: 800px;
    margin: 20px auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 11px;
}
#GINI .axis line,
#GINI .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
#GINI .axis--x line{
    display: none;
}
#GINI .axis--x path {
    display: none;
}
#GINI .axis--y path {
    display: none;
}
h1, h3 {
    text-align: center;
}
div.tooltip {   
    position: absolute;           
    text-align: left;           
    width: auto;                  
    height: auto;                 
    padding: 8px;             
    font: 12px sans-serif;        
    background: black;   
    border-radius: 0px;           
    pointer-events: none;  
    color: white;       
}
#GINI .mean {
    stroke-width: 1px;
    stroke: red;
}